*{
    margin: 0;
    padding: 0;
}
.first-page {
    background-color: #043873;
    height: 100vh;

}

.logo-nav {
    display: flex;
    gap: 10px;
    margin-left: 150px;
}

.img1 {
    height: 23px;
    width: 27px;
    margin-top: 20px;
}

.arrow {
    height: 50px;
    width: 50px;
    margin-top: -12px;
    margin-left: -25px;
}

.textcolor {
    margin-top: 20px;
    color: #FFFFFF;
}

.texts {
    display: flex;
    gap: 30px;
    margin-top: 20px;
    margin-left: 150px;
}

.buttons-navbar1 {
    height: 50px;
    width: 149px;
    border-radius: 8px;
    background-color: #FFE492;

}

.buttons-navbar2 {
    height: 50px;
    width: 159px;
    border-radius: 8px;
    margin-left: 10px;
    background-color: #A7CEFC;

}

.navbar-buttons {
    margin-top: 7px;
}

.content1 {
    margin-top: 50px;
}

.box1 {
    height: 400px;
    width: 650px;
    margin-left: 30px;
    background-color: #C4DEFD;
}

.page1 {
    display: flex;
    margin-top: 100px;
    margin-left: 150px;
}

.buttons-navbar3 {
    height: 50px;
    width: 159px;
    border-radius: 8px;
    margin-top: 30px;
    background-color: #A7CEFC;

}

.page2 {
    display: flex;
    height: 80vh;
    margin-top: 200px;
    margin-left: 150px;
}

.content2 {
    margin-top: 40px;
    font-size: 16px;
}

.box2 {
    height: 350px;
    width: 550px;
    margin-left: 30px;
    background-color: #C4DEFD;
}

.buttons-navbar4 {
    height: 50px;
    width: 159px;
    border-radius: 8px;
    margin-top: 30px;
    background-color: #A7CEFC;
}

.page3 {
    display: flex;
    height: 100vh;
    margin-left: 150px;

}

.bgcolor {
    background-color: #043873;
}

.content3 {
    margin-top: 200px;
    font-size: 16px;
}

.buttons-navbar5 {
    height: 50px;
    width: 159px;
    border-radius: 8px;
    margin-top: 30px;
    background-color: #A7CEFC;
}

.box3 {
    height: 350px;
    width: 450px;
    margin-top: 150px;
    margin-left: 30px;
    background-color: #C4DEFD;
}

.fourthpage {
    text-align: center;
}

.checkbox {
    gap: 15px;
    display: flex;
}

.img2 {
    height: 20px;
    width: 24px;
}

.box5 {
    border: 2px solid red;
    width: 700px;
    /* height: 650px; */
}

.box0 {
    display: flex;
}